/* Styles pour les icônes d'actions */
.fa-eye {
  font-size: 1.8rem; /* Taille augmentée pour rendre l'icône plus visible */
  color: #51cbce; /* Couleur bleue pour l'icône */
  margin: 0 12px; /* Espacement entre les icônes */
  cursor: pointer; /* Affiche le curseur 'main' au survol */
  transition: transform 0.3s ease, color 0.3s ease; /* Animation sur la taille et la couleur */
}

.fa-eye:hover {
  color: #51cbce; /* Couleur légèrement différente au survol */
  transform: scale(1.2); /* L'icône devient un peu plus grande au survol */
}

/* Styles pour la pagination */
.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-primary {
  background-color: #51cbce;
  border-color: #51cbce;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-primary:hover {
  background-color: #51cbce;
  transform: scale(1.05);
}

.btn-primary:disabled {
  background-color: #d3d3d3;
  color: #6c757d;
  cursor: not-allowed;
}

.table-responsive {
  margin-top: 20px;
}

.table th, .table td {
  vertical-align: middle;
}

.text-primary {
  color: #51cbce !important;
}

.img-thumbnail {
  border-radius: 4px;
  border: 1px solid #dee2e6;
  display: inline-block;
  max-height: 50px;
}

.mt-3 {
  margin-top: 1rem;
}
