<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h4 class="card-title mb-0">Images</h4>
        <button routerLink="/add-image" class="btn btn-primary">Ajouter Image</button>
      </div>

      <div class="card-body">
        <div class="table-responsive">
          <div *ngIf="successMessage" class="alert alert-success alert-dismissible fade show">
            <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
              <i class="nc-icon nc-simple-remove"></i>
            </button>
            {{ successMessage }}
          </div>
          <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade show">
            <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
              <i class="nc-icon nc-simple-remove"></i>
            </button>
            <span>
              {{ errorMessage }}
            </span>
          </div>
          <div *ngIf="images.length > 0; else noImages">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Image
                </th>
                <th>
                  Nom
                </th>
                <th class="text-right">
                  Action
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let image of images">
                  <td>
                    <img [src]="image.image" alt="Image" class="img-thumbnail" width="50">
                  </td>
                  <td>
                    {{ image.nom }}
                  </td>
                  <td class="text-right actions">
                    <a [routerLink]="['/image', image._id]"><i class="fa fa-eye reset-icon" title="voir"></i></a>

                    <!-- Icône pour supprimer -->
                    <i class="fa fa-trash-o delete-icon" (click)="deleteImage(image._id)" title="Supprimer"></i>

                    <!-- Icône pour réinitialiser -->
                    <a [routerLink]="['/image/edit', image._id]"><i class="fa fa-pencil-square-o reset-icon"
                        title="Modifier"></i></a>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
          <!-- Message lorsque aucune image n'est disponible -->
          <ng-template #noImages>
            <div >
              Aucune image disponible pour le moment.
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>